@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  scroll-behavior: smooth;
} 
#papa-header {
  font-family: 'Berkshire Swash', cursive;
  font-size: 35px;
}

#nav-section{
  background-color: #BA1705;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly */
}

.page-links{
  padding: 15px;
  position: relative;
}

.gnomeface {
  animation: bounce-in 2s ease;
}

@keyframes  bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}

#login-section {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  max-height: 800px;
  min-height: 600px; 
  width: 100%;
  background:
  linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2522584033613445) 0%),
    url('./assets/produce-table.jpg') 
    no-repeat center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
}

#login{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  height: 600px;
  width: 35%;
  align-self: center;
}

#signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  height: 700px;
  width: 35%;
  margin: 20px;
  align-self: center;
}

#login-title{
  font-size: 30px;
  font-weight: 500;
  font-family: 'Berkshire Swash', cursive;
}

#login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  flex-wrap: wrap;
}

#login-button {
  background-color:#BA1705 ;
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  color: white;
  font-family: 'Berkshire Swash', cursive;
}

#credentials {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#email, #pass {
  margin: 10px;
  border: #BA1705 1px solid;
  border-radius: 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 5px;
}

#signup-prompt {
font-size: 10px;
color: gray;
}

#signup-link {
  color:#BA1705
}

footer {
  background-color: #b5a57c;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;  
  padding: 20px;         
}

#social-links {
  display: flex;
  font-size: 25px;
  margin: 0px 50px;
}

#footer-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#overview, #resources {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 50px;
}

#info {
  margin-bottom: 
    20px;
  };

  .links {
    text-decoration: solid;
    margin: 15px 0px;
  }

.special {
  font-family: 'Berkshire Swash', cursive;
}

#store-section {
  position: relative;
  height: 400px;
  max-height: 400px;
  min-height: 100px; 
  width: 100%;
  background:
  linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2522584033613445) 0%),
    url('./assets/produce-table.jpg') 
    no-repeat center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  font-size: 80px;
  font-family: 'Berkshire Swash', cursive;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
}

#column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: center;
  text-align: center;
}

#row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
 margin: 50px;
}

.store{
  padding: 50px;
  height: 300px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation: grow 2s ease;
}

.storeImg {
  border-radius: 5px;
 height: auto;
}

#heart {
  font-size: 25px;
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
}



@keyframes grow {
  from { transform: scale(0); }
  to { transform: scale(1); }
}